<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.png">
    <script src="https://unpkg.com/jquery@3.1.0/dist/jquery.min.js"></script>
    <script src="/node_modules/jquery.cookie/jquery.cookie.js"></script>
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.css">
    <link rel="stylesheet" href="/css/jjj.css">
    <title>Sobe</title>
  </head>
  <body class="hero is-fullheight is-primary">
    <a href="https://github.com/bmwant/sobe" target="_blank">
      <img style="position: absolute; top: 0; right: 0; border: 0;"
      src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
      alt="Create same app for yourself!"
      data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>
    <div class="hero-head">
      <div class="container">
        <div class="current-status">
          <span class="current-question">#1</span> / <span class="total-questions">23</span>
        </div>
      </div>
    </div>
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">

            <div class="column is-half is-vcentered">
              <div class="question-box has-text-centered">
                <p class="question-ua subtitle is-3"></p>
                <p class="question-en subtitle is-5"></p>

                <a class="button is-large is-success" data-answer=1>Holly true</a>
                <a class="button is-large is-danger" data-answer=0>Not a chance</a>
              </div>
            </div>

            <div class="column">
              <div class="info-box tile is-ancestor">
                <div class="tile is-parent">
                    <article class="tile is-child notification is-info">
                      <p class="info-text-ua"></p>
                      <p class="info-text-en"></p>
                      <figure class="image is-3by4">
                        <a id="pic-link" href="#" target="_blank">
                          <img id="info-pic" src="http://placehold.it/640x480" />
                        </a>
                      </figure>
                    </article>
                  </div>
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="hero-foot">
      <div class="container has-text-centered">
        * All names, characters, and incidents portrayed at this website are fictitious.
      </div>
    </div>
  </body>
  <script src='/js/ccc.js'></script>
</html>
